.container-columns{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 200px 70px;
    border: 1px solid black;
}

.item{
    border: 1px solid black;
    text-align: center;
    background-color: azure;
}

#texto-1{
    display: block;
    width: 473px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    left: 26%;
    padding-right: 20px;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 15px;
}

.container-rows{
    display: grid;
    grid-template-columns: repeat(10, auto) ;
    grid-template-rows: repeat(3, 100px) ;
    border: solid 1px black;
}

#texto-2{
    display: block;
    width: 473px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    left: 26%;
    padding-right: 20px;
}

#columns-auto{
    margin: 2px;
}

#rows-auto{
    margin: 2px;
    margin-top: 50px;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: underline blue;
}

.conteiner-tema{
    border: solid blue 2px;
    margin-top: 10px;
}

.container-items{
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header header header header"
       "main main . sidebar"
        "footer footer footer footer";
}
.item-a{grid-area: header;}
.item-b{grid-area: main;}
.item-c{grid-area: sidebar;}
.item-d{grid-area: footer;}
