#caja1{
    width: 100px;
    height: 100px;
    background-color: grey;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
}

#caja2{
    width: 100px;
    height: 100px;
    background-color: pink;
    text-align: center;
}

.contenedor{
    width: 100%;
    height: 100%;
    background-color: rgb(196, 195, 195);
}

p{
    font-size: 75%;
    text-align: right;
    position: relative;
    top: 10px;
    right: 10px;
}
.contenedor2{
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    margin-bottom: 70px;
}

#caja3{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: brown;
    text-align: center;
    left: 100px;
    top: 420px;
}

#caja4{
    height: 100px;
    width: 100px;
    background-color:rgb(179, 128, 226);
    text-align: center;
}

.contenedor3{
    width: 500px;
    height: 500px;
    background-color: chocolate;
}

.contenedor2.p{
    font-size: 20px;
}

#caja5{
    background-color: blue;
    width: 100px;
    height: p;
    position: fixed;
    left: 25%;
    text-align: center;
    color: white;
}

*{
    font-family: sans-serif;
}
#caja6{
    width: 100px;
    height: 100px;
    background-color: rgba(128, 255, 0, 0.5);
    text-align: center;
}

body{
    border: solid black;
}

.contenedor4{
    width: 25%;
    height: 25%;
    background-color: darkslategrey;
}

#caja7{
    width: 110px;
    height: 110px;
    text-align: center;
    background-color: rgba(102, 43, 211, 0.514);
}

#caja8{
    width: 100px;
    height: 100px;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(43, 163, 211);
    font-size: 13px;
}
